#new-to-do {
    min-width: 300px;
    max-width: 500px;
    margin-bottom: 50px;
}

.to-do-display {
    max-width: fit-content;
    min-width: 400px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: xx-large;
    color: honeydew;
    background-image: url(../assets/chalkboard.jpeg);
    padding: 30px;
}