

#new-to-do {
    min-width: 300px;
    max-width: 500px;
    margin-bottom: 50px;
}

.to-do-display {
    max-width: fit-content;
    min-width: 400px;
    font: xx-large;
    color: honeydew;
    background-image: url(../assets/chalkboard.jpeg);
    padding: 30px;
}

li {
    font-family: 'ToscuchetCMRegular';
    font-weight: lighter;
    font-style: normal;
    font-size: xx-large;
}